<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <% if meta_fields
       meta_fields.each_pair do |key, val|%>
  <meta name="<%= key %>" content="<%= val %>" /> <% end %>
  <% end %>
  <title>Assignment: <%= title %></title>
</head>
<body>
<%= body %>
</body>
</html>
